---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.policy-heading {
  line-height: 1.5;
  & .subtitle {
    display: block;
    font-size: 87.5%;
  }
}

h3#xterms {
  margin: 0.5em 0.25em;
}

ul.terms {
  margin: 0 0 2em 0;
}

.overviewtable {
  &, * {
    border-collapse: collapse;
  }
  td, th {
    padding: 5px;
    text-align: left;
    vertical-align: top;
    border:1px solid grey;
  }
  th {background-color: lightgrey;}
  caption {
    text-align: left;
  }
}
#infos {text-align: left;}
.facettotalcount {display:inline;}
#deselect {line-height: normal; font-family: "Trebuchet MS", sans-serif; margin: .4em;}
ul.facetlist { list-style-type: none; padding-left: 0; margin-bottom: 0; margin-top: 0;}
ul.facetlist li {
  display:flex;
  margin-bottom: 3px;
  & :first-child {
    margin-right: 5px
  }
}
#facets {
  display: flex;
}
#facets > fieldset {
  flex: 1;
  padding: 0 .5em .5em 0;
  border: none;
  border-right: 1px solid;
}
#facets h4 {
  margin: 0;
  font-size: 1em;
}

@supports (display: grid) {
  #facets {
    width: auto;
    float:left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1.5em;
    grid-column-gap: 1em;
  }
  #facets #type {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  #facets #type {
    grid-column: 2/3;
  }
  #facets > fieldset {
    border-right: none;
    padding: 0;
  }
}

.countries .label {
  position: relative;
}

details, summary { display: block; }
/* Apply a pointer cursor and style the background upon hover to indicate <summary> is a clickable element. */
/* These styles can be applied regardless of whether the fallback is needed */
summary { cursor: pointer; position: relative}
summary > h2 { position: absolute;
top: 0;
margin: 0 !important;
right:0;
left:1em; }
summary:hover, summary:focus { background: #ddd; }

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we’re still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */
.no-details details > * { display: none; }
/* This doesn’t work very well in Firefox 3.6.x */
/* .no-details details[open] > * { display: block; } */
/* The following doesn’t toggle correctly in WebKit:
.no-details details > summary:before { content: '► '; }
.no-details details[open] > summary:before { content: '▼ '; }
*/
/* And yes, it should really be ::before, but that doesn’t work in IE8 */
.no-details details > summary > *:first-child:before { float: left; width: 20px; content: '► '; }
.no-details details.open > summary > *:first-child:before { content: '▼ '; }
/* For IE6 and IE7, who don’t support generated content, you could use padding-left + a background image instead */
/* I really couldn’t be bothered though. */
/*
.no-details details > summary { padding-left: 20px; background: url(img/arrow-sprite.png) no-repeat 0 0; }
.no-details details.open > summary { background-position: 0 -20px; }
*/
/* Make sure summary remains visible */
.no-details details summary { display: block; }
