---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

#nav1 .current-nav {
  background-color: #fffaf5;
}

.update-cta p {
  color: #000;
}

h2.policy-heading {
  line-height: 1.5;
  margin-bottom: 3px;
}

ul.policy-heading {
  margin-top: 0;
}

h3#xterms {
  margin: 0.5em 0.25em;
}

ul.terms {
  margin: 0 0 2em 0;
}

/*  override for totop background image
    to use protocol-relative url */

  p.totop a {
    background: url(//www.w3.org/Icons/topofpage.png) left no-repeat;
  }

.overviewtable {
  &, * {
    border-collapse: collapse;
    clear: both;
  }
  td, th {
    padding: 5px;
    text-align: left;
    vertical-align: top;
    border:1px solid grey;
  }
  th {background-color: lightgrey;}
  caption {
    text-align: left;
  }
}
#infos {text-align: left;}
.facettotalcount {display:inline;}
#deselect {line-height: normal; font-family: "Trebuchet MS", sans-serif; margin: .4em;}
ul.facetlist { list-style-type: none; padding-left: 0; margin-bottom: 0; margin-top: 0;}
ul.facetlist li {
  display:flex;
  margin-bottom: 3px;
  & :first-child {
    margin-right: 5px
  }
}
#facets {
  display: flex;
}
#facets > fieldset {
  flex: 1;
  padding: 0 .5em .5em 0;
  border: none;
  border-right: 1px solid;
}
#facets h4 {
  margin: 0;
  font-size: 1em;
}

@supports (display: grid) {
  #facets {
    width: auto;
    float:left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1.5em;
    grid-column-gap: 1em;
  }
  #facets #type {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  #facets #type {
    grid-column: 2/3;
  }
  #facets > fieldset {
    border-right: none;
    padding: 0;
  }
}

.countries .label {
  position: relative;
}

details, summary { display: block; }
/* Apply a pointer cursor and style the background upon hover to indicate <summary> is a clickable element. */
/* These styles can be applied regardless of whether the fallback is needed */
summary { cursor: pointer; position: relative}
summary > h2 { position: absolute;
top: 0;
margin: 0 !important;
right:0;
left:1em; }
summary:hover, summary:focus { background: #ddd; }

/* The following styles are not really needed, since the jQuery script takes care of hiding/displaying the elements. */
/* However, we’re still gonna use CSS as well to prevent FOUC in browsers that understand these selectors. */
/* Remember: by default (and probably most of the time), the contents of the <details> element are hidden. */
.no-details details > * { display: none; }
/* This doesn’t work very well in Firefox 3.6.x */
/* .no-details details[open] > * { display: block; } */
/* The following doesn’t toggle correctly in WebKit:
.no-details details > summary:before { content: '► '; }
.no-details details[open] > summary:before { content: '▼ '; }
*/
/* And yes, it should really be ::before, but that doesn’t work in IE8 */
.no-details details > summary > *:first-child:before { float: left; width: 20px; content: '► '; }
.no-details details.open > summary > *:first-child:before { content: '▼ '; }
/* For IE6 and IE7, who don’t support generated content, you could use padding-left + a background image instead */
/* I really couldn’t be bothered though. */
/*
.no-details details > summary { padding-left: 20px; background: url(img/arrow-sprite.png) no-repeat 0 0; }
.no-details details.open > summary { background-position: 0 -20px; }
*/
/* Make sure summary remains visible */
.no-details details summary { display: block; }

abbr.sortIcon {
  font-family: "Apple Color Emoji";
}

// Fakeing Responsiveness

@media (screen and max-width:767px) {
  #nav {
    float:none;
    width:auto;
    margin: 0;
  }
  #main {
    float:none;
    width:auto;
    margin: 0;
  }
  @supports (display: grid) {
    .overviewtable {
      th, td {
        display: block;
        hyphens: auto;
      }
      tr {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, min-content);
        margin-bottom: 10px;
        > *:first-child {
          grid-row: 1/2;
          grid-column: 1/2;
          border-right: none;
        }
        > *:nth-child(2) {
          grid-row: 1/2;
          grid-column: 2/4;
          border-left: none;
          border-right: none;
        }
        > *:nth-child(3) {
          grid-row: 1/2;
          grid-column: 4/5;
          border-left: none;
        }
        > td:nth-child(6):before {
          content: "Web only: ";
        }
      }
    }
  }
  #masthead {
    margin: 0;
  }
  #masthead p {
    margin: 0;
    padding: 0;
    white-space: normal;
    width: auto;
  }
}

@media (screen and max-width:399px) {
  @supports (display: grid) {
    .overviewtable {
      th, td {
        border:1px solid grey !important;
      }
      tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, min-content);
        margin-bottom: 10px;
        *:first-child {
          grid-row: 1/2;
          grid-column: 1/2;
          border-right: none !important;
          border-bottom: none !important;
        }
        *:nth-child(2) {
          grid-row: 2/3;
          grid-column: 1/3;
          border-top: none !important;
        }
        *:nth-child(3) {
          grid-row: 1/2;
          grid-column: 2/3;
          text-align: right;
          border-left: none !important;
          border-bottom: none !important;
        }
      }
    }
  }
}

/* Submission form styling */

.form-block-mini:not(.radio) .form-row {
    display: flex;
    margin-bottom: .5em;
  }
  .form-block-mini:not(.radio) .form-row span {
    font-style: italic;
    flex: 1;
  }
  .form-block-mini:not(.radio) .form-row label,
  .form-block-mini:not(.radio) .form-row span.l {
    flex-grow: 0;
    flex-shrink: 1;
    font-style: normal;
    margin-right: 1em;
  }

  .form-block-mini:not(.radio) .form-row span input,
  .form-block-mini:not(.radio) .form-row span textarea,
  .form-block-mini:not(.radio) .form-row span select {
    width: 100%;
    box-sizing: border-box;
    font-style: normal;
  }

.form-block-mini.radio .form-row {
    display: flex;
    margin-bottom: 3px
}

.form-block-mini.radio .form-row>:first-child {
    margin-right: 5px;
}

.form-block-mini .desc {
  line-height: 1.2;
}


@media (screen and min-width:768px) {
  .form-block-mini:not(.radio) .form-row label,
  .form-block-mini:not(.radio) .form-row span.l {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .form-block-mini.half {
    width: 70%;
  }
  /*.form-block-mini.half .form-row span input {
    max-width: 7em;
  }*/

  .form-block-mini:not(.radio) .form-row span input#enactdate {
    width: initial;
  }
}

.multiple  {
  margin:0;
  padding: 0;
}
.multiple li {
  padding: 3px;
  border-radius: 2px;
  list-style: none;
  margin: 0 0 1em;
  display: flex;
}
.multiple li:nth-child(even) {
  background-color: rgba(0,0,0,.1);
}

.multiple li .form-block-mini {
  flex: 1;
  margin-right: 5px;
}

.multiple li .rem {
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.multiple .remove {
  margin-bottom: .5em;
}

.multiple .template .rem {
  display: none;
}

.btn-small {
  background: linear-gradient(to bottom, #e6e6e6, #ccc);
  color: #333;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5;
  padding: .166666667em .25em;
  text-decoration: none;
  white-space: nowrap;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  border-radius: .25em;
}
.btn-small:hover, .btn-small:focus {
  color: #333;
  text-decoration: none;
  background: linear-gradient(to bottom, #ccc, #b3b3b3);
}