---
layout: default
---

<style>fieldset {margin-bottom: 1.5em}</style>

<div class="home" id="top">

<div id="nav" class="side">
  <h1>Contents</h1>
  <ul>
    {% for help in site.help %}
      <li><a href="{{site.baseurl}}/#x{{help.title | slugify }}">{{help.title}}</a></li>
    {% endfor %}
    <li><a href="{{site.baseurl}}/#xtable">Law &amp; Policy by Country - table</a></li>
    <li>Laws &amp; Policies by Country - detail
      <ul class="countries">
      {% for policy in site.policies %}
        <li data-updated="{{policy.updated}}" style="text-transform: capitalize;">
          {% assign titleurl = policy.url |  prepend: site.baseurl %}
          {% include multilang-title.html title=policy.country url=titleurl %}
        </li>
      {% endfor %}
      </ul>
    </li>
  </ul>

  <h2 style="max-width: 100%; position: relative; left: 0; width: initial; font-size: 1.2em; margin: 1.6em 0 0 0;">Add or update policies</h2>
  <p>If you know of new or changed legislation, laws, or policies that are not listed here or if any corrections are needed, please let us know.</p>
  <p><a href="submission.html" class="btn">Start an Update</a></p>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
</div>

<div id="main" class="content">
    <h1 class="page-title">WAI Policies PROTOTYPE: Add or update a policy</h1>
    <p><a href="index.html">Back to the WAI Policies PROTOTYPE</a></p>

    <h2>Submit a new or updated Web Accessibility Policy</h2>
    <p>This form allows you to provide information about new or updated web accessibility policies enacted by governments worldwide. We welcome any additions or corrections to the policies list and detail pages.</p>
    <p><strong>Note:</strong> Information sent using this form is reviewed before publishing. It can take <em>up to 10 business days</em> until the information is published.</p>

    <p>Contact <a href="mailto:xxx@example.org">Xxxxx Xxxxxxx (xxx@example.org)</a> if you have questions or comments.</p>

    <!-- commenting out this aside for editing using existing data for now
    <aside class="editbox">
    	<h3>Edit an entry</h3>
			<p>You can load the information of an existing entry, if you want to edit it. Use the following button to load the data file that was sent to you in the notification email from your previous form submission:</p>
			<button class="btn" id="uploadbutton">Load tool information</button>
    	<input type="file" id="file" name="file">
    	<output id="list" aria-live="assertive"></output>
    </aside>
    -->


  <div id="hForm">
  <form name="submission" id="submission" method="post" action="https://www.w3.org/2017/04/policies_submission/submission.php">
  <p>* Indicates required field</p>
  <fieldset>
    <legend><h3>Information about you</h3></legend>
    <div class="form-block-mini half">
      <p>Your contact information will be used to confirm your submission and to contact you in case we have questions regarding the submission.</p>
      <div class="form-row required"><label for="name">* Your Name: </label><br><span><input name="name" id="name" type="text" value="" required  aria-required="true"></span></div>
      <div class="form-row required"><label for="email">* Your E-Mail: </label><br><span><input name="email" id="email" type="email" value="" required aria-required="true"></span></div>
    </div>
    <!-- commenting out for policies prototype
    <fieldset class="border-less"><legend><span>Your Role</span></legend>
      <div class="form-block-mini">
        <div class="form-row radio"><span><input name="role" id="vendor" value="vendor" type="radio"></span> <label for="vendor">Tool vendor (includes tool developer, owner, etc.)</label></div>
        <div class="form-row radio"><span><input name="role" id="user" value="user" type="radio"></span> <label for="user"> Tool user (or if you happen to know if a tool, etc.)</label></div>
      </div>
    </fieldset>
    -->
  </fieldset>

    <fieldset>
      <legend><h3>Add new or update existing Web accessibility policy</h3></legend>
      <div class="form-block-mini radio">
        <div class="form-row"><span><input type="radio" checked name="submission" id="new" value="new policy"></span> <label for="new">Add new policy</label></div>
        <div class="form-row"><span><input type="radio" name="submission" id="existing" value="existing policy"></span> <label for="new">Update existing policy</label></div>
      </div>
    </fieldset>

    <fieldset>
      <legend><h3>Country information</h3></legend>
      <div class="form-block-mini half">
        <div class="form-row required"><label for="country">* Country of policy (in English): </label><br><span><input id="country" name="country" type="text" value="" required aria-required="true" ></span></div>
        <div class="form-row"><label for="native-country">Country of policy (in native language): </label><br><span><input name="native-country" id="native-country" type="text" value="" aria-describedby="native-countrydesc"><br><span id="native-countrydesc">If known by multiple names, separate with a semicolon, e.g. Schweiz;Suisse</span></span></div>
        <div class="form-row required"><label for="state-province">State or province (in English): </label><br><span><input id="state-province" name="state-province"></span></div>
      </div>
    </fieldset>

    <fieldset>
      <legend><h3>Policy information</h3></legend>

    <div class="form-block-mini">
      <div class="form-row required"><label for="policyname">* Policy name: </label><br><span><input name="policyname" id="policyname" type="text" value="" required aria-required="true"></span></div>
      <div class="form-row required"><label for="policyurl">* Web address (<abbr title="Universal Resource Identifier">URI</abbr>): </label><br><span><input name="policyurl" id="policyurl" type="text" value="" required aria-required="true"></span></div>
    </div>
    <div class="form-block-mini half">
      <div class="form-row required"><label for="enactdate">Enacted date (format: YYYY): </label><br><span><input name="enactdate" id="enactdate" type="text" value="" aria-describedby="enactdesc"><br><span id="enactdesc">Enter the year the policy was enacted or "Draft" if the policy is not yet finalized or enacted.</span></span></div>
    </div>
    <fieldset>
      <legend>Responsible Entities</legend>
      <p>List the governmental ministries, agencies, or departments that oversee or are related to this policy.</p>
      <ul class="multiple" id="entities-multiple">
        <li class="template">
          <div class="form-block-mini">
            <label class="form-row"><span class="l">Name:</span><span><input type="text" name="entity_name[]"></span></label>
            <label class="form-row"><span class="l">URL:</span> <span><input type="url" name="entity_url[]"></span></label>
          </div>
        </li>
      </ul>
      <button type="button" class="multiple" data-for="entities-multiple">➕ Add Entity</button>
    </fieldset>

    <fieldset><legend><span>Type of policy</span></legend>
      <div class="form-block-mini radio">
        <div class="form-row"><span><input type="checkbox" name="policytype[]" id="policy-a11ylaw" value="law"></span> <label for="policy-a11ylaw">Accessibility law</label></div>
        <div class="form-row"><span><input type="checkbox" name="policytype[]" id="policy-ndlaw" value="Non-discrimination law"></span> <label for="policy-ndlaw">Non-discrimination law</label></div>
        <div class="form-row"><span><input type="checkbox" name="policytype[]" id="policy-proclaw" value="Procurement law"></span> <label for="policy-proclaw">Procurement law</label></div>
        <div class="form-row"><span><input type="checkbox" name="policytype[]" id="policy-procrecomm" value="Procurement recommendation"></span> <label for="policy-procrecomm">Procurement recommendation</label></div>
        <div class="form-row"><span><input type="checkbox" name="policytype[]" id="policy-mandpolicy" value="Mandatory policy"></span> <label for="policy-mandpolicy">Mandatory policy</label></div>
        <div class="form-row"><span><input type="checkbox" name="policytype[]" id="policy-recommendation" value="Recommended policy"></span> <label for="policy-recommendation">Recommended policy</label></div>
        <div class="form-row"><span><input type="checkbox" name="policytype[]" id="policy-dontknow" value="Unsure"></span> <label for="policy-dontknow">Unsure</label></div>
      </div>
      <div class="form-block-mini half">
        <label for="policytype_other" class="form-row"><span class="l">Other:</span> <span><input id="policytype_other" name="policytype[other]" type="text"></span></label>
      </div>
    </fieldset>

    <fieldset>
      <legend>Scope of policy (select all that apply)</legend>
        <div class="form-block-mini radio">
          <div class="form-row"><span><input type="checkbox" name="scope[]" id="scope-gov" value="gov"></span> <label for="scope-public">Government</label></div>
          <div class="form-row"><span><input type="checkbox" name="scope[]" id="scope-public" value="public"></span> <label for="scope-public">Public sector</label></div>
          <div class="form-row"><span><input type="checkbox" name="scope[]" id="scope-private" value="private"></span> <label for="scope-private">Private sector</label></div>
        </div>
    </fieldset>

    <fieldset>
      <legend>Technologies the policy applies to</legend>
        <div class="form-block-mini radio">
          <div class="form-row"><span><input type="radio" checked name="web-only" id="web-only-true" value="true"></span> <label for="web-only-true">Web only</label></div>
          <div class="form-row"><span><input type="radio" name="web-only" id="web-only-false" value="false"></span> <label for="web-only-false">Web plus other technologies (e.g. mobile, software, hardware, etc.)</label></div>
        </div>
    </fieldset>

    <fieldset id="fs-guideline">
      <legend>Select the <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> version referenced or required by this policy</legend>
      <div class="form-block-mini radio">
        <div class="form-row"><span><input data-id="guideline_wcag20" id="guideline_wcag20" name="guideline[]" value="WCAG 2.0" type="checkbox"> </span> <label for="guideline_wcag20"><abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.0 — <abbr title="World Wide Web Consortium">W3C</abbr> Web Content Accessibility Guidelines 2.0</label></div>
        <div class="form-row"><span><input data-id="guideline_wcag20derivative" id="guideline_wcag20derivative" name="guideline[]" value="WCAG 2.0 derivate" type="checkbox"> </span> <label for="guideline_wcag20derivative"><abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.0 derivative — <abbr title="World Wide Web Consortium">W3C</abbr>Based on Web Content Accessibility Guidelines 2.0, but has additional or modifed requirements</label></div>
        <div class="form-row"><span><input data-id="guideline_wcag10" id="guideline_wcag10" name="guideline[]" value="WCAG 1.0" type="checkbox"> </span> <label for="guideline_wcag10"><abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 1.0 — <abbr title="World Wide Web Consortium">W3C</abbr> Web Content Accessibility Guidelines 1.0</label></div>
        <div class="form-row"><span><input data-id="guideline_none" id="guideline_none" name="guideline[]" value="none" type="checkbox"> </span> <label for="guideline_none">None</label></div>
      </div>
      <div class="form-block-mini half">
        <label for="guideline_other" class="form-row"><span class="l">Other:</span> <span><input id="guideline_other" name="guideline[other]" type="text"></span></label>
      </div>
    </fieldset>

    <fieldset>
      <legend>Standards used by policy:</legend>
      <p>If there are standards used to provide the technical requirements to meet the policy, provide the name, web address, and optionally a brief description.</p>
      <strong>Example:</strong>
      <br>Name: GSA Section 508 website
      <br>URL: https://www.section508.gov/
      <br>Description: General Services Administration guidance on Section 508
      <br>
      <ul class="multiple" id="standards-multiple">
        <li class="template">
          <div class="form-block-mini">
            <label class="form-row"><span class="l">Name:</span> <span><input type="text" name="standard_name[]"></span></label>
            <label class="form-row"><span class="l">URL:</span> <span><input type="url" name="standard_url[]"></span></label>
            <label class="form-row"><span class="l">Description:</span> <span><input type="text" name="standard_desc[]"></span></label>
          </div>
        </li>
      </ul>
      <button type="button" class="multiple" data-for="standards-multiple">➕ Add Standard</button>
    </fieldset>

    <fieldset>
      <legend>Relevant documents:</legend>
      <p>List any documents relevant to the policy.</p>
      <ul class="multiple" id="documents-multiple">
        <li class="template">
          <div class="form-block-mini">
            <label class="form-row"><span class="l">Name:</span> <span><input type="text" name="document_name[]"></span></label>
            <label class="form-row"><span class="l">URL:</span> <span><input type="url" name="document_url[]"></span></label>
            <label class="form-row"><span class="l">Description:</span> <span><input type="text" name="document_desc[]"></span></label>
          </div>
        </li>
      </ul>
      <button type="button" class="multiple" data-for="documents-multiple">➕ Add Document</button>
    </fieldset>
  </fieldset>

		<div class="form-block-mini">
			<div class="form-row"><label for="cmnt">Notes or comments:</label><br><span><textarea name="cmnt" id="cmnt" cols="60" rows="10" maxlength="300" aria-describedby="cmntdesc"></textarea><br><span id="cmntdesc">These notes and comments will be included in email but not published on the policies page.</span></span></div>
		</div>

    <p><button class="btn-primary" style="float:none;" name="send" id="send" type="submit">Send Information</button></p>

    </form>
    <script>
      //helper function to iterate through elements – it’s just shorter :-D
      function each(elem, func) {
        Array.prototype.forEach.call(elem, func);
      }

      // Each button with class multiple:
      each(document.querySelectorAll('button.multiple'), function(element) {

        // Add event listener
        element.addEventListener('click', function(e) {

          // When clicked, find the list this button refers to…
          var targetMultiple = document.getElementById(e.target.getAttribute('data-for'));

          // Find the template for the list. Clone it.
          var template = targetMultiple.querySelector('.template').cloneNode(true);

          // Remove Template from the item (not strictly necessary)
          template.classList.remove("template");

          // Find the first input element in the copied template, add focusHere class
          template.querySelector('input').classList.add("focusHere");

          // Insert the copied template before the end of the list.
          targetMultiple.insertAdjacentHTML('beforeend', template.outerHTML);

          // Focus the first input in the inserted list item.
          document.querySelector('.focusHere').focus();

          // Remove focusHere class from all elements that have one. (should always be only one, but better save than sorry before accidentally focussing the wrong element)
          each(document.querySelectorAll('.focusHere'), function(e) {
            e.classList.remove('focusHere');
          });

        });

      });
    </script>
  </div>
</div>
<style>
.form-block-mini:not(.radio) .form-row {
  display: flex;
  margin-bottom: .5em;
}
.form-block-mini:not(.radio) .form-row span {
  font-style: italic;
  flex: 1;
}
.form-block-mini:not(.radio) .form-row label,
.form-block-mini:not(.radio) .form-row span.l {
  flex-grow: 0;
  flex-shrink: 0;
  font-style: normal;
  margin-right: 1em;
}
.form-block-mini.half {
  width: 70%;
}
/*.form-block-mini.half .form-row span input {
  max-width: 7em;
}*/
.form-block-mini:not(.radio) .form-row span input,
.form-block-mini:not(.radio) .form-row span textarea {
  width: 100%;
  box-sizing: border-box;
  font-style: normal;
}

.form-block-mini:not(.radio) .form-row span input#enactdate {
  width: initial;
}

.multiple  {
  margin:0;
  padding: 0;
}
.multiple li {
  padding: 3px;
  border-radius: 2px;
  list-style: none;
  margin: 0 0 1em;
}
.multiple li:nth-child(even) {
  background-color: rgba(0,0,0,.15);
}
</style>
