---
layout: default
---

<style>fieldset {margin-bottom: 1.5em}</style>

<div class="home" id="top">

<div id="nav" class="side">
  <h1>Contents</h1>
  <ul>
    {% for help in site.help %}
      <li><a href="#x{{help.title | slugify }}">{{help.title}}</a></li>
    {% endfor %}
    <li><a href="#xtable">Law &amp; Policy by Country - table</a></li>
    <li><a href="#xlist">Laws &amp; Policies by Country - detail</a>
      <ul class="countries">
      {% for policy in site.policies %}
        <li data-updated="{{policy.updated}}" style="text-transform: capitalize;">
          {% assign titleurl = policy.url |  prepend: site.baseurl %}
          {% include multilang-title.html title=policy.country url=titleurl %}
        </li>
      {% endfor %}
      </ul>
    </li>
  </ul>

  <h2 style="position: relative; left: 0; width: initial; font-size: 1.2em; margin: 1.6em 0 0 0;">Add or update policies</h2>
  <p>If you know of new or changed legislation, laws, or policies that are not listed here or if any corrections are needed, please let us know.</p>
  <p><a href="submission.html" class="btn">Start an Update</a></p>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
</div>

<div id="main" class="content">
    <h1 class="page-title">
      <a href="index.html">WAI Policies PROTOTYPE: Add or update a policy</a>
    </h1>
    <p><a href="index.html">Back to the WAI Policies PROTOTYPE</a></p>
        <h2>Submit a new or updated Web Accessibility Policy</h2>
    <p>This form allows you to provide information about new or updated web accessibility policies enacted by governments worldwide. We welcome any additions or corrections to the policies list and detail pages.</p>
    <p><strong>Note:</strong> Information sent using this form is reviewed before publishing. It can take <em>up to 10 business days</em> until the information is published. A notification email is sent to you after submitting this form. This email is also copied to a publicly archived <a href="http://lists.w3.org/Archives/Public/public-wai-policies/">mailing list</a>.</p>

    <p>Contact <a href="mailto:xxx@example.org">Xxxxx Xxxxxxx (xxx@example.org)</a> if you have questions or comments.</p>

    <!-- commenting out this aside for editing using existing data for now 
    <aside class="editbox">
    	<h3>Edit an entry</h3>
			<p>You can load the information of an existing entry, if you want to edit it. Use the following button to load the data file that was sent to you in the notification email from your previous form submission:</p>
			<button class="btn" id="uploadbutton">Load tool information</button>
    	<input type="file" id="file" name="file">
    	<output id="list" aria-live="assertive"></output>
    </aside>
    -->
    

  <div id="hForm">
  <form name="submission" id="submission" method="post" action="submission.php">
  <fieldset>
    <legend><span>Information about you</span></legend>
    <h2 class="no-display">Information about you</h2>
    <div class="form-block-mini">
      <div class="form-row required"><label for="name">Your Name: </label><span><input name="name" id="name" type="text" value="" required  aria-required="true"></span></div>
      <div class="form-row required"><label for="email">Your E-Mail: </label><span><input name="email" id="email" type="email" value="" required aria-required="true"></span></div>
    </div>
    <!-- commenting out for policies prototype 
    <fieldset class="border-less"><legend><span>Your Role</span></legend>
      <div class="form-block-mini">
        <div class="form-row radio"><span><input name="role" id="vendor" value="vendor" type="radio"></span><label for="vendor">Tool vendor (includes tool developer, owner, etc.)</label></div>
        <div class="form-row radio"><span><input name="role" id="user" value="user" type="radio"></span><label for="user"> Tool user (or if you happen to know if a tool, etc.)</label></div>
      </div>
    </fieldset>
    -->
  </fieldset>

    <fieldset>
      <legend><span>Add new or update existing Web accessibility policy?</span></legend>
      <h3 class="no-display">Add new or update existing policy?</h3>
      <div class="form-block-mini">
        <div class="form-row"><span><input type="radio" name="submission" id="new" value="new policy"></span><label for="new">Add new policy</label></div>
        <div class="form-row"><span><input type="radio" name="submission" id="existing" value="existing policy"></span><label for="new">Update existing policy</label></div>
      </div>
    </fieldset>

    <h3>Country information</h3>
    <fieldset>
      <h3 class="no-display">Country to add or update</h3>
      <div class="form-block-mini">
        <div class="form-row required"><label for="country">Country of policy (in English): </label><span><input id="country" name="country"></span></div>
        <div class="form-row"><label for="native-country">Country of policy (in native language): </label><span><input name="native-country" id="native-country" type="text" value="" aria-describedby="native-countrydesc"><br><span id="native-countrydesc">If known by multiple names, separate with a semicolon, e.g. Schwiz;Suisse</span></span></div>
        <div class="form-row required"><label for="state-province">State or province (in English): </label><span><input id="state-province" name="state-province"></span></div> 
      </div>
    </fieldset>

    <h3>Policy information</h3>
    <fieldset>
      <legend><span>Policy to Add or Update</span></legend>
      <div class="form-block-mini">
        <div class="form-row required"><label for="policyname">Policy name: </label><span><input name="policyname" id="policyname" type="text"  value="" required aria-required="true"></span></div>
        <div class="form-row required"><label for="policyurl">Web address (<abbr title="Universal Resource Identifier">URI</abbr>): </label><span><input name="policyurl" id="policyurl" type="text" value="" required aria-required="true"></span></div>
        <div class="form-row required"><label for="enactdate">Enacted date (format: YYYY): </label><span><input name="enactdate" id="enactdate" type="text" value="" required aria-required="true" aria-describedby="enactdesc"><br><span id="enactdesc">Enter the year the policy was enacted or "Draft" if the policy is not yet finalized or enacted.</span></span></div>
      </div>
      <div style="display:none" aria-hidden="true">
        <label for="comment">Comment (Don’t fill out this field)</label><span><textarea name="comment" id="comment" cols="60" rows="10" maxlength="300"></textarea></span>
      </div>
        
      <br>
      <p>List the governmental ministries, agencies, or departments that oversee or are related to this policy and their web addresses (one entity per line).</p>
      <div class="form-block-mini">
        <div class="form-row"><label for="responsible-entities">Entities:</label><span><textarea name="responsible-entities" id="responsible-entities" cols="60" rows="10" required="" aria-required="true" aria-describedby="entitiesdesc"></textarea><br><span  id="entitiesdesc">Example: Ministry of Social Justice and Empowerment (http://www.disabilityaffairs.gov.in/content/)</span></span></div>
      </div>

      <fieldset><legend><span>Type of policy</span></legend>
        <div class="form-block-mini radio">
          <div class="form-row"><span><input type="checkbox" name="policytype" id="policy-ndlaw" value="law"></span><label for="policy-ndlaw">Non-discrimination law</label></div>
          <div class="form-row"><span><input type="checkbox" name="policytype" id="policy-proclaw" value="law"></span><label for="policy-proclaw">Procurement law</label></div>
          <div class="form-row"><span><input type="checkbox" name="policytype" id="policy-recommendation" value="law"></span><label for="policy-recommendation">Recommendation</label></div>
          <div class="form-row"><span></span><label for="policytype_other">Other: <input id="policytype_other" name="policytype[other]" type="text"></label></div>
       </div>
      </fieldset>

      <fieldset>
        <legend>Scope of policy (select all that apply)</legend> 
          <div class="form-block-mini radio">
            <div class="form-row"><span><input type="checkbox" name="scope" id="scope-gov" value="Gov"></span><label for="scope-public">Government</label></div>
            <div class="form-row"><span><input type="checkbox" name="scope" id="scope-public" value="Public"></span><label for="scope-public">Public sector</label></div>
            <div class="form-row"><span><input type="checkbox" name="scope" id="scope-private" value="Private"></span><label for="scope-private">Private sector</label></div>
          </div>
      </fieldset>

      <fieldset>
        <legend>Technologies the policy applies to</legend> 
          <div class="form-block-mini radio">
            <div class="form-row"><span><input type="radio" name="web-only" id="web-only-true" value="true"></span><label for="web-only-true">Web only</label></div>
            <div class="form-row"><span><input type="radio" name="web-only" id="web-only-false" value="false"></span><label for="web-only-false">Web plus other technologies (e.g. mobile, software, hardware, etc.)</label></div>
          </div>
      </fieldset>

      <div class="form-block-mini">
        <div class="form-row"><label for="relevant-documents">Relevant documents:</label><br><span><textarea name="relevant-documents" id="relevant-documents" cols="60" rows="10" aria-describedby="documentssdesc"></textarea><br><span id="documentsdesc">List any documents relevant to the policy and their web addresses (one per line). Example: Information and Communication Technology (ICT) Standards and Guidelines (https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-ict-refresh/final-rule)</span></span></div>
      </div>
    </fieldset>

    <h3>Standards used</h3>
    <fieldset id="fs-guideline">
      <legend>Select the <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> or other guidelines that this policy is based upon:</legend>
      <h3 class="no-display" id="guideline">What standards and <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> version are referenced or required by the policy?</h3>
      <div class="form-block-mini radio">
        <div class="form-row"><span><input data-id="guideline_wcag20" id="guideline_wcag20" name="guideline[]" value="wcag20" type="checkbox"> </span><label for="guideline_wcag20"><abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.0 — <abbr title="World Wide Web Consortium">W3C</abbr> Web Content Accessibility Guidelines 2.0</label></div>
        <div class="form-row"><span><input data-id="guideline_wcag20derivative" id="guideline_wcag20derivative" name="guideline[]" value="wcag20derivative" type="checkbox"> </span><label for="guideline_wcag20derivative"><abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.0 derivative — <abbr title="World Wide Web Consortium">W3C</abbr>Based on Web Content Accessibility Guidelines 2.0, but has additional or modifed requirements</label></div>
        <div class="form-row"><span><input data-id="guideline_wcag10" id="guideline_wcag10" name="guideline[]" value="wcag10" type="checkbox"> </span><label for="guideline_wcag10"><abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 1.0 — <abbr title="World Wide Web Consortium">W3C</abbr> Web Content Accessibility Guidelines 1.0</label></div>
        <div class="form-row"><span><input data-id="guideline_none" id="guideline_none" name="guideline[]" value="none" type="checkbox"> </span><label for="guideline_none">None</label></div>
        <div class="form-row"><span></span><label for="guideline_other">Other: <input id="guideline_other" name="guideline[other]" type="text"></label></div>
      </div>
    </fieldset>

      <div class="form-block-mini">
        <div class="form-row"><label for="standards-used">Standards used by policy:</label><span><textarea name="standards-used" id="standards-used" cols="60" rows="10" aria-describedby="standardsused"></textarea><br><span id="standardsused">List any standards used to provide the technical requirements for how to meet the policy and their web addresses (one per line). Example: Information and Communication Technology (ICT) Final Standards and Guidelines (https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-ict-refresh/final-rule)</span></span></div>
      </div>

		<div class="form-block-mini">
			<div class="form-row"><label for="cmnt">Notes or comments:</label><span><textarea name="cmnt" id="cmnt" cols="60" rows="10" maxlength="300" aria-describedby="cmntdesc"></textarea><br><span id="cmntdesc">These notes and comments will be included in email but not published on the policies page.</span></span></div>
		</div>

  <p><button class="btn-primary" style="float:none;" name="send" id="send" type="submit">Send Information</button></p>

    </form>
  </div>
</div>
