<aside class="side-box contribute" role="complementary">
  <h2 class="heading">Help improve this page</h2>
  <p>Please share your ideas, suggestions, or comments via email to the publicly-archived list <a href="mailto:wai-eo-editors@w3.org?subject=%5bTips%20for%20Getting%20Started%20Input%20%3a%20Tips%20for%20Getting%20Started%20with%20Web%20Accessibility%5d">wai-eo-editors@w3.org</a> or via GitHub.</p>

  <div class="buttons">
    <a class="btn" href="{{ site.baseurl }}/submission.html">Submit a Policy Update</a>
    <a class="btn" title="Publicly archived list" href="mailto:wai-eo-editors@w3.org?subject=%5bWAI%20Web%20Accessibility%20Laws%20and%20Policies%5d">E-mail</a>
    <a class="btn" href="https://github.com/w3c/wai-policies-prototype/issues/new?title=[WAI%20Web%20Accessibility%20Laws%20and%20Policies]&amp;body=This%20is%20a%20comment%20related%20to%20the%20[WAI%20Web%20Accessibility%20Laws%20and%20Policies](//w3c.github.io/wai-policies-prototype/)">Feedback via GitHub Issue</a>
  </div>
</aside>