{% assign p=include.policy %}
{% assign theslug = p.title.en | slugify %}
{% capture boxtitle %}
<h{{include.headinglevel}} class="policy-heading">
  {% include multilang-policy-title.html title=p.title %}
</h{{include.headinglevel}}>
{% endcapture %}
{% include box.html type="start" title=boxtitle class="large" id=theslug %}
<div>{% assign urlsize = p.url | size %}
  <h{{include.headinglevel | plus: 1}} style="margin-top:10px;">Official law/policy page{% if urlsize > 1 %}s{% endif %}</h{{include.headinglevel | plus: 1}}>
  {% include multilang-list-policy-links.html title=p.title url=p.url external="true" wrap="h2" id=theslug class="policy-heading" %}
  <h{{include.headinglevel | plus: 2}}>Details</h{{include.headinglevel | plus: 2}}>
  <ul>
    <li>Date enacted: {{p.enactdate}}</li>
    <li>Responsible {%if p.ministries.size == 1%}Entity (Agency, Ministry, etc.){%else%}Entities (Agencies, Ministries, etc.){%endif%}:
      <ul>
        {% for m in p.ministries %}<li>{% include multilang-list.html title=m.title url=m.url external="true" %}</li>{% endfor %}
      </ul>
    </li>
    <li>Type: {{p.type}}</li>
    <li>Scope: {{p.scope}}</li>
    <li>Web only: {%if p.webonly == true %}yes{% else %}no{%endif%}</li>
    <li>WCAG Version Used: {{p.wcagver}}</li>
    {% if p.standard %}
    {% unless p.standard == "None" or p.standard == "none" or p.standard == false %}
      {% if p.standard %}
        <li>Relevant Standard{%if p.standard.size > 1 %}s{%endif%}:
          <ul>
            {% for d in p.standard %}<li>{% include multilang-list.html title=d.title url=d.url external="true" %}{%if d.desc %}<br>{{d.desc}}{%endif%}</li>{%endfor%}
          </ul>
        </li>
      {% endif %}
    {% endunless %}
    {% endif %}
    {% if p.documents %}
      <li>Relevant Documents:
        <ul>
          {% for d in p.documents %}<li>{% include multilang-list.html title=d.title url=d.url external="true" %}{%if d.desc %}<br>{{d.desc}}{%endif%}</li>{%endfor%}
        </ul>
      </li>
    {% endif %}
  </ul>
</div>
{% include box.html type="end" %}