{% assign url = page.url|remove:'index.html' %}
<nav id="nav" class="side" aria-label="contents">
  <ol id="nav1" style="background-color: #fffaf5;">
    <li {% if url == "/" %}id="current-node" class="current-nav"{% endif %}>
      {% if url == "/" %}
        <span class="label"><span id="current-icon">»</span>Laws and Policies Overview</span>
      {% else %}
        <a href="{{'/' | prepend: site.baseurl }}">Laws and Policies Overview</a></li>
      {% endif %}
    </li>
    <li><strong class="label">Laws and Policies by Country</strong>
      <ul class="countries">
      {% for policy in site.policies %}
        <li data-updated="{{policy.updated}}" {% if url == policy.url %}id="current-node" class="current-nav"{% endif %}>
          {% if url == policy.url %}
            <span class="label"><span id="current-icon">»</span>{% include multilang-title-full.html title=policy.country %}</span>
          {% else %}
            {% assign titleurl = policy.url | prepend: site.baseurl %}
            {% include multilang-title-full.html title=policy.country url=titleurl %}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </li>
  </ol>

  <h2 style="max-width: 100%; position: relative; left: 0; width: initial; font-size: 1.2em; margin: 1.6em 0 0 0;">Add or update listings</h2>
  <p>If you know of additional laws or policies that are not listed here, or have any corrections, please submit an update.</p>
  <p><a href="{{ site.baseurl }}/submission.html" class="btn">Submit an Update</a></p>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
</nav>
