---
layout: default
---

{% include sidebar.html %}

<div id="main" class="content">

  <div style="float: none; margin: 0.8em 0 0;">
    <h2 class="no-display">Breadcrumb Navigation</h2>
    <p id="w3cnav" style="background-color: inherit;">
      <a href="https://www.w3.org/">W3C Home</a> &gt; <a href="https://www.w3.org/WAI/">WAI Home</a> &gt; <a href="https://www.w3.org/WAI/managing">Planning and Implementing Web Accessibility</a> &gt; <a href="../../">Web Accessibility Laws and Policies</a> &gt; {% include multilang-title.html title=page.country %}
    </p>
  </div>

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{% include multilang-title.html title=page.country %}</h1>
  </header>

  <div class="post-content">
    <p>Last Updated: {{page.updated | date: "%-d %B %Y" }}{%if page.updatemsg%} – {{page.updatemsg}}{%endif%}</p>
    {% if page.relatedpages %}{% for r in page.relatedpages %}<p>Related page: <a href="{{r.url}}">{{r.title}}</a></p>{% endfor %}{% endif %}
    {% for p in page.policies %}
      <h2 id="{{p.title.en | slugify}}" class="policy-heading">{% include multilang-title.html title=p.title url=p.url external="true" %}</h2>
      <div>
        <ul>
          <li>Date enacted: {{p.enactdate}}</li>
          <li>Responsible {%if p.ministries.size == 1%}Entity (Agency, Ministry, etc.){%else%}Entities (Agencies, Ministries, etc.){%endif%}:
            <ul>
              {% for m in p.ministries %}<li>{% include multilang-title.html title=m.title url=m.url external="true" %}</li>{% endfor %}
            </ul>
          </li>
          <li>Type: {{p.type}}</li>
          <li>Scope: {{p.scope}}</li>
          <li>Web only: {%if p.webonly == true %}yes{% else %}no{%endif%}</li>
          <li>WCAG Version Used: {{p.wcagver}}</li>
          {% if p.standard %}
          {% unless p.standard == "None" or p.standard == "none" or p.standard == false %}
          {% assign standards = p.standard | split: ";" %}
          <li>{%if standards.size > 1 %}Standards:{%else%}Standard:{%endif%}
            <ul>
            {% for s in standards %}
              <li>{% assign stndrd = site.data.standards[s]%} <a href="{{stndrd.url}}">{{stndrd.title}}</a> {%if stndrd.desc %}<br>{{stndrd.desc}}{%endif%}</li>
            {%endfor%}
            </ul>
          </li>
          {%endunless%}
          {% endif %}
          {% if p.documents %}
            <li>Relevant Documents:
              <ul>
                {% for d in p.documents %}<li>{% include multilang-title.html title=d.title url=d.url external="true" %}{%if d.desc %}<br>{{d.desc}}{%endif%}</li>{%endfor%}
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endfor %}
  </div>

</article>

</div>
