---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{% include multilang-title.html title=page.country url=p.url %}</h1>
  </header>

  <div class="post-content">
    <p>Last Updated: {{page.updated | date: "%-d %B %Y" }}{%if page.updatemsg%} – {{page.updatemsg}}{%endif%}
    <p>Related page: Australian states (not implemented yet)</p>
    {% for p in page.policies %}
      <h2 style="line-height: 1.5;">{% include multilang-title.html title=p.title url=p.url %}</h2>
      <div>
        <ul>
          <li>Date enacted: {{p.enactdate}}</li>
          <li>Responsible {%if p.ministries.size == 1%}Entity (Agency, Ministry, etc.){%else%}Entities (Agencies, Ministries, etc.){%endif%}: {% for m in p.ministries %} <a href="{{m.url}}">{{m.title}}</a>{%if forloop.last == false%}; {%endif%}{%endfor%}</li>
          <li>Type: {{p.type}}</li>
          <li>Scope: {{p.scope}}</li>
          <li>Web only: {%if p.webonly == true %}yes{% else %}no{%endif%}</li>
          <li>WCAG Version Used: {{p.wcagver}}</li>
          {%if p.standard%}
            {% assign standards = p.standard | split: ";" %}
            {% for s in standards %}
            <li>Standard: {% assign stndrd = site.data.standards[s]%} <a href="{{stndrd.url}}">{{stndrd.title}}</a> {%if stndrd.desc %} – {{stndrd.desc}}{%endif%}</li>
            {%endfor%}
          {%endif%}
          {% if p.documents %}
            <li>Relevant Documents:
              <ul>
                {% for d in p.documents %}<li><a href="{{d.url}}">{{d.title}}</a> {%if d.desc %} – {{d.desc}}{%endif%}</li>{%endfor%}
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endfor %}
  </div>

</article>
