---
layout: default
---

<div style="float: none; margin: 0.8em 0 0;">
  <h2 class="no-display">Breadcrumb Navigation</h2>
  <p id="w3cnav" style="background-color: inherit;">
    <a href="../../">Web Accessibility Laws &amp; Policies</a> &gt; {% include multilang-title.html title=page.country url=p.url %}
  </p>
</div>

<div id="nav" class="side">
  <h1>Contents</h1>
  <ul>
    <li><a href="../../">Web Accessibility Laws &amp; Policies - Overview</a></li>
    <li><a href="../../#xtable">Law &amp; Policy by Country - table</a></li>
    <li>Laws &amp; Policies by Country
      <ul class="countries">
      {% for policy in site.policies %}
        <li data-updated="{{policy.updated}}" style="text-transform: capitalize;">
          {% assign titleurl = policy.url |  prepend: site.baseurl %}
          {% include multilang-title.html title=policy.country url=titleurl %}
        </li>
      {% endfor %}
      </ul>
    </li>
  </ul>

  <h2 style="position: relative; left: 0; width: initial; font-size: 1.2em; margin: 1.6em 0 0 0;">Add or update policies</h2>
  <p>If you know of new or changed legislation, laws, or policies that are not listed here or if any corrections are needed, please let us know.</p>
  <p><a href="../../submission.html" class="btn">Start an Update</a></p>

</div>

<div id="main" class="content">

<article class="post">
  <header class="post-header">  
    <h1 class="post-title">{% include multilang-title.html title=page.country url=p.url %}</h1>
  </header>

  <div class="post-content">
    <p>Last Updated: {{page.updated | date: "%-d %B %Y" }}{%if page.updatemsg%} – {{page.updatemsg}}{%endif%}</p>
    {% if page.relatedpages %}{% for r in page.relatedpages %}<p>Related page: <a href="{{r.url}}">{{r.title}}</a></p>{% endfor %}{% endif %}
    {% for p in page.policies %}
      <h2 id="{{p.title.en | slugify}}" style="line-height: 1.5;">{% include multilang-title.html title=p.title url=p.url external="true" %}</h2>
      <div>
        <ul>
          <li>Date enacted: {{p.enactdate}}</li>
          <li>Responsible {%if p.ministries.size == 1%}Entity (Agency, Ministry, etc.){%else%}Entities (Agencies, Ministries, etc.){%endif%}: {% for m in p.ministries %} <a href="{{m.url}}">{{m.title}}</a>{%if forloop.last == false%}; {%endif%}{%endfor%}</li>
          <li>Type: {{p.type}}</li>
          <li>Scope: {{p.scope}}</li>
          <li>Web only: {%if p.webonly == true %}yes{% else %}no{%endif%}</li>
          <li>WCAG Version Used: {{p.wcagver}}</li>
          {% unless p.standard == "None" or p.standard == "none" or p.standard == false %}
          {% assign standards = p.standard | split: ";" %}
          <li>{%if standards.size > 1 %}Standards:{%else%}Standard:{%endif%}
            <ul>
            {% for s in standards %}
              <li>{% assign stndrd = site.data.standards[s]%} <a href="{{stndrd.url}}">{{stndrd.title}}</a> {%if stndrd.desc %} – {{stndrd.desc}}{%endif%}</li>
            {%endfor%}
            </ul>
          </li>
          {%endunless%}
          {% if p.documents %}
            <li>Relevant Documents:
              <ul>
                {% for d in p.documents %}<li><a href="{{d.url}}">{{d.title}}</a> {%if d.desc %} – {{d.desc}}{%endif%}</li>{%endfor%}
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    {% endfor %}
  </div>

</article>

</div>
