<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
  {%- assign timestamp = site.time | date: '%s%N' -%}
  {%- assign timestamp = '?' | append: timestamp -%}
  {% include_cached head.html type="start" timestamp=timestamp %}
  <title>{%if page.doc-note-type == "archived" %}[Archived]{% endif%}{%if page.doc-note-type == "draft" %}[Draft]{% endif%} {{ page.title | escape }} | {{ site.title | escape }} | W3C</title>
  {% if page.ext_css %}<link rel="stylesheet" href="{{ page.ext_css | prepend: '/css/' | prepend: page.collection | prepend: '/' | relative_url | append: include.timestamp }}">{% endif %}
  {%- if page.inline_css %}<style>{{ page.inline_css }}</style>{% endif -%}
  {%- capture seo -%}
    {%- seo title=false -%}
  {%- endcapture -%}
  {{- seo | replace: '<meta name="twitter:card" content="summary" />', '<meta name="twitter:card" content="summary_large_image" />' -}}
  {%- unless page.image -%}{%- if site.twitter.image -%}{% assign twimage = site.twitter.image -%}{%- else -%}{% assign twimage = '/assets/images/social-sharing-default.jpg' -%}{%- endif -%}
  <meta name="twitter:image" property="og:image" content="{{ twimage | relative_url | prepend: site.url }}">
  {%- endunless -%}
  {% include_cached head.html type="end" %}
  <body id="top" class="page-{{page.title | slugify}} {% include_cached body-class.html collection=page.collection doc-note-type=page.doc-note-type %}">
    {% include header.html %}

<div class="default-grid with-gap leftcol contentarea">

  {% include sidenav.html %}

  <main id="main"{% if page.lang %} lang="{{page.lang}}"{% endif %}>
    <h1 class="post-title">{% include multilang-title.html title=page.country %}</h1>

{% include box.html type="start" title="Page Contents" %}
<ul>
    {% for p in page.policies %}
      <li><a href="#{{ p.title.en | slugify }}">{% include multilang-policy-title.html title=p.title %}</a></li>
    {% endfor %}
    {% if page.states %}
    <li><a href="#states">{{page.statesdesc.en}}</a>
        <ul>
        {% for state in page.states %}
          {% if state.policies %}
            <li><a href="#{{ state.title.en | slugify }}">{% include multilang-title.html title=state.title %}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
    </li>
    {% endif %}
</ul>
{% include box.html type="end" %}

    <div class="post-content">
      <p>Last Updated: {{page.updated | date: "%-d %B %Y" }}{%if page.updatemsg%} – {{page.updatemsg}}{%endif%}</p>
        
      {% if page.relatedpages %}{% for r in page.relatedpages %}<p>Related page: <a href="{{r.url}}">{{r.title}}</a></p>{% endfor %}{% endif %}
      {% for p in page.policies %}
        {% include individual-policy-alt.html policy=p headinglevel=2%}
      {% endfor %}
      {%- comment -%}If states exist…{%- endcomment -%}
      {% if page.states %}
        <h2 id="states">{% include multilang-title.html title=page.statesdesc %}</h2>
        {%- comment -%}Test if there are states with and without policies…{%- endcomment -%}
        {% assign stateshavepolicies    = false %}
        {% assign stateswithoutpolicies = false %}
        {% for state in page.states %}
          {% if state.policies %}       {% assign stateshavepolicies    = true %}{% endif %}
          {% if state.policies == nil %}{% assign stateswithoutpolicies = true %}{% endif %}
          {% if stateshavepolicies and stateswithoutpolicies %}
            {% break %}
          {% endif %}
        {% endfor %}
        {%- comment -%}Output states with policies{%- endcomment -%}
        {% if stateshavepolicies %}
          {% for state in page.states %}{% if forloop.first %}<ul class="statenav">{% endif %}{% if state.policies %}<li><a href="#{{ state.title.en | slugify }}">{{ state.title.en }}</a></li>{% endif %}{% if forloop.last %}</ul>{% endif %}{% endfor %}
          {% include_cached excol.html type="all" %}
          {% for state in page.states %}
            {% if state.policies %}
              {% assign stateslug = state.title.en | slugify %}
              {% include_cached excol.html type="start" id=stateslug %}
                <h3>{% include multilang-title.html title=state.title %}</h3>
              {% include_cached excol.html type="middle" %}
                {% for sp in state.policies %}
                  {% include individual-policy.html policy=sp headinglevel=4%}
                {% endfor %}
              {% include_cached excol.html type="end" %}
            {% endif %}
          {% endfor %}
        {% endif%}

        {%- comment -%}Output states without policies{%- endcomment -%}
        {% if stateswithoutpolicies %}
        <h3>{{page.statesdesc.en}} without data</h2>
            <p>We welcome any additions to the {{page.statesdesc.en}} policy information.</p>
        {% for state in page.states %}{% if forloop.first %}<ul class="statenav">{% endif %}{% unless state.policies %}<li><span>{{ state.title.en }}</span></li>{% endunless %}{% if forloop.last %}</ul>{% endif %}{% endfor %}
        {% endif %}
      {% endif %}
    </div>
    
    {% if page.disclaimer %}
    <div>
      {{ page.disclaimer }}
    </div>
    {% endif %}
    
    {%- comment -%}{% include prevnext.html %}{%- endcomment -%}

    {% include_cached backtotop.html %}
  </main>

</div>

{% include footer.html %}
<style>@import url('{{"/policies/css/policies.css" | relative_url }}');</style>
  </body>
</html>