<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
  {% include head.html %}
  <body id="top" class="{% include body-class.html %}">
    {% include header.html %}

<div class="default-grid with-gap leftcol contentarea">

  {% include sidenav.html %}

  <main id="main"{% if page.lang %} lang="{{page.lang}}"{% endif %}>
    <h1 class="post-title">{% include multilang-title.html title=page.country %}</h1>

    <div class="post-content">
      {% if page.states %}<p>See below for information about <a href="#states">{{page.statesdesc.en}}</a>.</p>{% endif %}
      <p>Last Updated: {{page.updated | date: "%-d %B %Y" }}{%if page.updatemsg%} – {{page.updatemsg}}{%endif%}</p>
      {% if page.relatedpages %}{% for r in page.relatedpages %}<p>Related page: <a href="{{r.url}}">{{r.title}}</a></p>{% endfor %}{% endif %}
      {% for p in page.policies %}
        {% include individual-policy.html policy=p headinglevel=2%}
      {% endfor %}
      {% if page.states %}
        <h2 id="states">{% include multilang-title.html title=page.statesdesc %}</h2>
        {% for state in page.states %}
          {% assign stateslug = state.en.title | slugify %}
          {% include_cached excol.html open="true" type="start" id=stateslug %}
            <h3>{% include multilang-title.html title=state.title %}</h3>
          {% include_cached excol.html type="middle" %}
            {% for sp in state.policies %}
              {% include individual-policy.html policy=sp headinglevel=4%}
            {% endfor %}
          {% include_cached excol.html type="end" %}
        {% endfor %}
      {% endif %}
    </div>
    {% include prevnext.html %}

    {% include_cached backtotop.html %}
  </main>

</div>

{% include footer.html %}
<style>@import url('{{"/policies/css/policies.css" | relative_url }}');</style>
  </body>
</html>
